@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
$shadow-card: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$border-radius-card: 16px;
$color-border: rgba(190, 190, 190, 0.24);
$container-width: clamp(200px, 100vw, 680px);
$container-height: 200px;
$color-text-secondary: #6b6b6b;
$bar-green-color: #30be30;
$track-color: #eee;


.maincontainer {
  width: $container-width;
  height: $container-height;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-card;
  border: 1px solid $color-border;
  box-shadow: $shadow-card;
  background-color: #ffffff;

  .valuesection {
    display: flex;
    font-size: 0.9rem;
    color: $color-text-secondary;
    font-weight: 500;
    gap: 20px;
  }

  .budgetbar {
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 16px;
    overflow: hidden;

    &::-webkit-progress-bar {
      background-color: $track-color;
    }

    &::-webkit-progress-value {
      background-color: $bar-green-color;
      transition: width 0.5s ease;
    }

    &::-moz-progress-bar {
      background-color: $bar-green-color;
    }
  }
}