@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@mixin expensecard {
  width: 200px;
  height: 85px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 16px;
  animation: fadeIn 0.3s ease-out;
  transition: all 0.3s ease;
  &:hover{
    transform: scale(1.05);
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin datagap {
  display: flex;
  gap: 30px;
}

.maincontainer {
  font-family: 'Roboto', sans-serif;
  @include flex-center;
  background-color: #FAFAFA;
  width: 100%;
  height: 100vh;

  .sortcontainer {
    display: flex;
    width: 700px;
    justify-content: space-between;
    margin-right: 100px;

    button {
      background: none;
      border: 1px solid #a1a0a0;
      height: 25px;
      border-radius: 6px;
    }

    select {
      background: none;
      border: 1px solid #a1a0a0;
      height: 25px;
      border-radius: 6px;
      margin-left: auto;
    }
  }

  .cardscontainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    max-width: 800px;
    flex-wrap: wrap;

    .expensecard {
      @include expensecard;
      display: flex;
      //align-items: center;
      gap: 40px;
      flex-direction: column;
      border: 1px solid rgba(190, 190, 190, 0.24);

      .topinfo {
        display: flex;
        justify-content: space-between;
      }

      .downinfo {
        display: flex;
        justify-content: space-between;
      }

      .expensename {
        display: block;
        font-size: 0.9rem;
        width: fit-content;
        font-weight: 500;
      }

      .expenseprice {
        width: fit-content;
        display: block;
        font-weight: 500;
        color: #30be30;
        margin-left: auto;
      }

      .categorybadge {
        display: inline-block;
        padding: 3px 6px;
        border-radius: 12px;
        font-size: 0.85rem;
        font-weight: 500;
      }

      .expensedate {
        color: #6b6b6b;
        font-size: 0.85rem;
        font-weight: 500;
      }
    }

    .addexpense {
      @include expensecard;
      @include flex-center;
      background-color: #eeeded;
      font-weight: 400;
      color: #6b6b6b;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}