@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.modalwrapper {
  position: fixed;
  font-family: 'Roboto', sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  align-items: flex-start;
  padding-top: 15vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  z-index: 1000;

  .modalcontent {
    background-color: #ffffff;
    width: 90%;
    max-width: 450px;
    padding: 32px;
    border-radius: 24px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;

    .closebtn{
      transform: translateY(-100%);
      position: absolute;
      display: flex;
      align-self: flex-end;
      background: none;
      border: none;
      font-size: 1.3rem;
      cursor: pointer;
    }
    label {
      font-size: 0.9rem;
      font-weight: 600;
      color: #334155;
      margin-bottom: 8px;
      display: block;
    }

    input,
    select {
      width: 100%;
      padding: 7px 16px;
      border: 1px solid #e2e8f0;
      border-radius: 12px;
      font-size: 1rem;
      color: #1e293b;
      background-color: #f8fafc;
      outline: none;
      transition: all 0.2s ease;
      box-sizing: border-box;

      &:focus {
        border-color: #4ecdc4;
        background-color: #ffffff;
        box-shadow: 0 0 0 4px rgba(78, 205, 196, 0.15);
      }
    }

    .pricesection {
      display: flex;
      flex-direction: column;
    }

    .secondsection {
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      gap: 15px;

      .row {
        display: flex;
        gap: 15px;

        .inputGroup {
          display: flex;
          flex-direction: column;
          flex: 1;
        }
      }

      .customInput {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        animation: fadeIn 0.3s ease-out;
      }
    }
    .btnblock{
      display: flex;
      margin-top: 20px;
      justify-content: center;
      gap: 20px;
      button {
        font-family: 'Roboto', sans-serif;
        padding: 5px 12px;
        border-radius: 8px;
        border: none;
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 600;
        transition: all 0.3s ease;
        &:hover{
          cursor: pointer;
          transform: translateY(-2px);
        }
      }
      .cancelbtn{
        background-color: #f60725;
      }
      .addbtn{
        background-color: #30be30;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}